html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    text-decoration: none;
}
body {
	line-height: 1;
    font-family: Arial, sans-serif;
}

.wrapper {
    width: 1280px;
    margin:  0 auto;
}
header {
    padding: 60px 0 40px 0;
}
header a {
    color:#000;
    font-size: 80px;
}
header a span {
    color: #4bcaff;
}
nav {
    background-color: #35444f;
    text-align: center;
}

.menu {
    display: inline-block;
}
.menu li {
    float: left;
}
.menu li a {
    padding: 25px 45px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.menu li a:hover {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background-color: #222f3a;
} 
.wrapper-main {
    overflow: hidden;
    padding-top: 50px;
}

aside {
    border: 1px solid #000;
    width: 350px;
    box-sizing: border-box;
    float: left;
    margin-right: 50px;
}
.left-menu li a {
    padding: 25px 0;
    padding-left: 40px;
    display: block;
    color: #485863;
    font-size: 22px;
}
.left-menu li a:hover {
    color: #000;
    background-color: #dbdbdb;
    padding-left: 68px;
}

main {
    width: 880px;
    float: right;
}
main img {
    border: 1px solid #000;
    width: 878px;
    
}

.text {
    padding: 45px 40px;
}
.text p {
    margin-bottom: 20px;
}
footer {
    background-color: #b4b7ba;
    padding: 20px 40px;
    overflow: hidden;
}

.footer-menu {
    float: left;
}
footer p {
    float: right;
    font-size: 18px;
}
.footer-menu li {
    float: left;
    margin-right: 20px;
    
}
.footer-menu li a {
   font-size: 22px;
   color: #000; 
}
.footer-menu li a:hover {
    color: #3181a6;
    text-decoration: underline;
}
















