html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
    color: #373737;
    font-size: 16px;
}
h1 {
    font-size: 22px;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
}
header {
    text-align: center;
    padding: 30px 0;
}
.menu {
    overflow: hidden;
    display: inline-block;
}
.menu li {
   float: left;
    margin: 0 30px;
}
.menu li a {
    text-transform: uppercase;
    text-decoration:none;
    color: #16a085;
    font-weight: bold;
}

.foto  img{
    max-width: 100%;
}
.main {
    background-color: #f5f6f7;
    text-align: center;
    padding: 80px 100px;
}
.main h1 {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 35px;
}
.main p {
    font-weight: bold;
    margin-bottom: 35px;
    line-height: 1.3;
    letter-spacing: 2px;
}

.getstarted {
    color:#fff;
    background-color: #16a085;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    padding:15px 35px;
    display:inline-block;
    border-radius: 3px;
    
}
.copy {
   padding: 45px 100px;
   text-align: right;
    font-weight: bold;
    letter-spacing: 3px;
}



